USE [master]
GO
/****** Object:  Database [Nodo]    Script Date: 3/13/2017 7:56:13 PM ******/
CREATE DATABASE [Nodo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nodo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Nodo.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Nodo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Nodo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nodo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nodo]
GO
/****** Object:  Table [dbo].[Node]    Script Date: 3/13/2017 7:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Node](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Data] [xml] NULL,
 CONSTRAINT [PK_Node] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Relation]    Script Date: 3/13/2017 7:56:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relation](
	[ParentId] [int] NOT NULL,
	[ChildId] [int] NOT NULL,
 CONSTRAINT [PK_Relation] PRIMARY KEY CLUSTERED 
(
	[ParentId] ASC,
	[ChildId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Relation]  WITH CHECK ADD  CONSTRAINT [FK_Relation_Node] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Node] ([Id])
GO
ALTER TABLE [dbo].[Relation] CHECK CONSTRAINT [FK_Relation_Node]
GO
ALTER TABLE [dbo].[Relation]  WITH CHECK ADD  CONSTRAINT [FK_Relation_Node1] FOREIGN KEY([ChildId])
REFERENCES [dbo].[Node] ([Id])
GO
ALTER TABLE [dbo].[Relation] CHECK CONSTRAINT [FK_Relation_Node1]
GO
USE [master]
GO
