<h1>Nodo</h1>

<div class="row">
    <div class="col-sm-4">
        <div id="tree"></div>
    </div>
    <div class="col-sm-8">
        <div id="data"></div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/Scripts/NodoHome.js")
}